<h1>New List</h1>

<%= form_for @list do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  <%= f.label :shows %><br>
  <%= f.collection_check_boxes :show_ids, Show.all, :id, :title %><br>
  <%= f.submit "Submit" %>
<% end %>